.tudo{
	background-color: 	#F5F5F5;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 6;
}
.header1 {
	border-style: solid;
	border-width: 0.1rem;
	margin: 0 auto;
	height: 5em;
	max-width: 1fr;
	min-width: 1fr;
	color: #191970;
	background-color: #A9B5D6;
}

.nav {
	display: grid;
	grid-template-columns: 50% 30% auto;
	grid-template-rows: 100%;
}

.h1 {
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 2.2rem;
	align-self: center;
	margin-top: 5rem;
	margin:1rem;
	font-family: Limelight, "Roboto Slab";
	color: #191970;

	
}
.perfil {
	display: flex;
	justify-content: center;
	grid-column-start: 3;
	grid-row-start: 1;
	align-self: center;
	width: 2.5rem;
	height:2.5rem;
	margin-left: 1.5rem;
	margin-top: 1rem;
}

.buscar {
	grid-column-start: 2;
	align-self: center;
	width: 6rem;
	height: 1rem;
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom: -2.2rem;

}

.img10 {
	display: flex;
	margin: 0 auto;
<<<<<<< HEAD
	height: 2rem;
	width: 4rem;
=======
	height: 35rem;
	width: 50rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
}

.cabeca {
	margin: 0 auto;
<<<<<<< HEAD
	max-width: 4rem;
	min-width:  4rem;
	padding: 5rem;
=======
	max-width: 80rem;
	min-width: 79rem;
	margin-top: 10rem;
	margin-right: auto;
	margin-left: auto;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
}

.um {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
	display:inline-flex;
	align-items: center;
	margin: 1rem;

}

.um-dois {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 2;
	grid-row-end: 2;	
	display: inline-flex;
	align-items: center;
	margin: 1rem;
}

.um-tres {
	display:inline-flex;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 3;
	grid-row-end: 3;
	align-items: center;
	margin: 1rem;
}

.um-quatro {
	display:inline-flex;
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 4;
	grid-row-end: 4;
	align-items: center;
	margin: 1rem;
}

.logos {
	height: 4rem;
	width: 4rem;
	margin: 1rem;
}

.section-menu-text {
	font-size: 3rem;
	font-family: Limelight, "Roboto Slab", sans-serif;
	color: #191970;

}

.section-menu {
	display: grid;
	margin: 0 auto;
	justify-content: center;
	grid-template-rows: 20rem 20rem 20rem 20rem;
	grid-template-columns: 40rem;
	max-width: 80rem;
	min-width: 79rem;

}


.header{
	border-style: solid;
	border-width: 0rem 0rem 1.5rem 0rem;
	margin: 2rem;
	padding: 2rem;
}


.container1{
	display: grid;
<<<<<<< HEAD
	grid-template-columns: 50% auto;
    grid-template-rows: auto 5% 12% 25% 25%;
=======
	grid-template-columns: 30% auto auto 25%;
	grid-template-rows: 20% 30% 30% 20%;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
}

.main{
	width: 100%;


<<<<<<< HEAD
=======
.container2{
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 15% auto 15% 30% auto;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
}



.ptitle{
<<<<<<< HEAD
    font-size:2.7rem;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
    grid-row-end:2; 
    margin-left: 1rem;
    margin-top: 4rem;
    color: #191970;
    font-family: Limelight, Roboto Slab, sans-serif;

=======
	font-size: 3rem;
	grid-column-start: 3;
	grid-column-end: 5;
	margin-left: 10rem;
	margin-top: 4rem;
	color: #191970;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6


}

.pimg {
<<<<<<< HEAD
    grid-column-start: 1;
    grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;
    margin-top:12rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 40%;
    min-width: 70%;
    min-height: 50%;
    object-fit: cover;
}

=======
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 2;
	margin-top:-3rem;
	margin-left: 2rem;
	max-width: 50%;
	max-height: 20%;
	min-width: 38%;
	min-height: 50%;
	object-fit: cover;
}

.ptitulo2{
	grid-column-start:3;
	grid-row-start: 2;
	justify-content: left;
	margin-left: 10rem;
	margin-top: 3.5rem;
	font-size: 2rem;
	font-family: Limelight, "Roboto Slab";

}
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6

.ptitulo2{
	grid-column-start:1;
	grid-row-start: 2;
<<<<<<< HEAD
	justify-self: left;
	margin-left: .5rem;
	margin-top: 1rem;
	font-size: 1.5rem;
    font-family: Limelight, Roboto Slab;
    color: #191970;
=======
	justify-content: left;
	margin-left: 10rem;
	margin-top: 3.5rem;
	font-size: 2rem;
	font-family: Limelight, "Roboto Slab";
	color: #191970;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6

}

.ptexto2{
<<<<<<< HEAD
    grid-column-start:2;
    grid-row-start: 2;
	justify-self: left;
	margin-left: .5rem;
	margin-top: 1rem;
	font-size: 1.2rem;
=======
	grid-column-start:3;
	grid-row-start: 2;
	justify-content: center;
	margin-left: 10.5rem;
	margin-top:6rem;
	font-size: 1.3rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 1.5rem;




}

.ptitulo3{
<<<<<<< HEAD
    grid-column-start:1;
	grid-row-start: 3;
	justify-self: left;
	margin-left: .5rem;
	margin-top: 1rem;
	font-size: 1.5rem;
    font-family: Limelight, Roboto Slab;
    color: #191970;
=======
	grid-column-start:3;
	grid-row-start: 3;
	justify-content: center;
	margin-left: 10rem;
	font-size: 2rem;
	font-family: Limelight, "Roboto Slab";
	color: #191970;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6


}

.ptexto3{
<<<<<<< HEAD
    grid-column-start:2;
    grid-row-start: 3;
	justify-self: left;
	margin-left: .5rem;
	margin-top: 0rem;
	font-size: 1.2rem;
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 2.5rem;

=======
	grid-column-start:3;
	grid-row-start: 3;
	justify-content: center;
	margin-left: 10.5rem;
	margin-top:2.5rem;
	font-size: 1.3rem;
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 1.5rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6


}

.ptexto1{
<<<<<<< HEAD
    grid-column-start:2;
    grid-row-start: 4;
    grid-column-end: 4;
	justify-self: left;
	margin-left: .5rem;
	margin-top:1.5rem;
	font-size: 1.2rem;
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 2.5rem;
=======
	grid-column-start:1;
	grid-row-start: 2;
	justify-self: center;
	margin-left: 2rem;
	margin-top:0rem;
	font-size: 1.3rem;
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 1.5rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6



}

.ptitulo1{
<<<<<<< HEAD
    grid-column-start:1;
    grid-row-start: 4;
	justify-self: left;
	margin-left: .5rem;
	margin-top:2.5rem;
	font-size: 1.5rem;
    font-family: Limelight, Roboto Slab;
    color: #191970;
=======
	grid-column-start:1;
	grid-row-start: 1;
	justify-self: center;
	margin-left: 2rem;
	margin-top:0rem;
	font-size: 2rem;
	font-family: Limelight, "Roboto Slab";
	color: #191970;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6

}

.ptitulo4{
<<<<<<< HEAD
    grid-column-start:1;
    grid-row-start: 5;
	justify-self: center;
	margin-left: .5rem;
	margin-top: -1.5rem;
	font-size: 1.5rem;
	font-family: Limelight, Roboto Slab;
=======
	grid-column-start:1;
	grid-row-start: 4;
	justify-self: center;
	margin-left: 2rem;
	margin-top:1rem;
	font-size: 2rem;
	font-family: Limelight, "Roboto Slab";
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
	color: #191970;

}

.ptexto4{
<<<<<<< HEAD
    grid-column-start:2;
    grid-row-start: 5;
	justify-self: center;
	margin-left: .5rem;
	margin-top: -2.5rem;
	font-size: 1.2rem;
=======
	grid-column-start:1;
	grid-row-start: 5;
	margin-left: 4rem;
	justify-self: left;
	margin-top:0rem;
	font-size: 1.3rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
	margin-bottom: 3rem;
	font-family: 'PT Sans', Merriweather, serif;
	line-height: 2rem;


}

.bodycat{
	width: 100%;
}

.maincat{
	display: flex;
	justify-content: center;
}

.csection { 
	display: flex;
	flex-wrap: wrap;
	padding-right:1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.ctitle, .cimg, .ctext{
	flex-basis: 15rem;
	
}

.ctitle{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 1.25rem;
	font-family: Limelight, "Roboto Slab", sans-serif;
}

.cimg{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;

}

.ctext{
	display: flex;
	flex-grow: .5;
	flex-shrink: 1.5;
	font-family: 'PT Sans', Merriweather, serif;
}

.csection1 {
	display: flex;
	flex-wrap: wrap;
	padding-right:1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.ctitle1, .cimg1, .ctext1{
	flex-basis: 15rem;
	
}

.ctitle1{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 1.25rem;
	font-family: Limelight, "Roboto Slab", sans-serif;

}

.cimg1{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}

.ctext1{
	display: flex;
	flex-grow: .5;
	flex-shrink: 1.5;
	font-family: 'PT Sans', Merriweather, serif;
}

.csection2 {
	display: flex;
	flex-wrap: wrap;
	padding-right:1.5rem;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.ctitle2, .cimg2, .ctext2{
	flex-basis: 15rem;
	
}

.ctitle2{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	font-size: 1.25rem;	
	font-family: Limelight, "Roboto Slab", sans-serif;
}

.cimg2{
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
}

.ctext2{
	display: flex;
	flex-grow: .5;
	flex-shrink: 1.5;
	font-family: 'PT Sans', Merriweather, serif;

}

.h11 {
	display: flex;
	justify-content: center;
	font-size: 1.75rem;
<<<<<<< HEAD
	font-family: Limelight, Roboto Slab, sans-serif;
}

@media (min-width: 361px)
{
	.h1 {
	grid-column-start: 1;
	grid-column-end: 2;
	font-size: 3rem;
	align-self: center;
	margin:1rem;
	font-family: Limelight, Roboto Slab;
	color: #191970;

	
	}
	.perfil {
		display: flex;
		justify-content: center;
		grid-column-start: 3;
		align-self: center;
		width: 3.5rem;
		height: 3.9rem;
		margin-top: .5rem;
	}

	.buscar {
		grid-column-start: 2;
		align-self: center;
		width: 17rem;
		height: 3rem;
		margin-top: -1rem;


	}

	.img10 {
		display: flex;
		margin: 0 auto;
		height: 25rem;
		width: 40rem;
	}

	.cabeca {
		margin: 0 auto;
		max-width: 80rem;
		min-width: 79rem;
		padding: 5rem;
=======
	font-family: Limelight, "Roboto Slab", sans-serif;
}

@media (min-width: 361px) {
	.section-menu {
		display: grid;
		margin: 0 auto;
		grid-template-rows: 10rem 10rem;
		grid-template-columns: 5rem 34rem 25rem auto;
		max-width: 80rem;
		min-width: 79rem;
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
	}

	.um {
		grid-column-start: 2;
<<<<<<< HEAD
		grid-column-end: 4;
		display:inline-flex;
		align-items: center;
		margin: 1rem;

	}

	.um-dois {
		grid-column-start: 4;
		grid-column-end: 5;
		display: inline-flex;
		align-items: center;
		margin: 2rem;
	}

	.logos {
		height: 3rem;
		width: 3rem;
		margin: 1rem;
=======
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 1;
		display:inline-flex;
		align-items: center;
		margin: 1rem		
	}

	.um-dois {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 1;
		display: inline-flex;
		align-items: center;
		margin: 2rem;	
	}

	.um-tres {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 2;
		display:inline-flex;
		align-items: center;
		margin: 1rem
	}

	.um-quatro {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 2;
		grid-row-end: 2;		
		display: inline-flex;
		align-items: center;
		margin: 2rem;		
>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
	}

	.section-menu-text {
		font-size: 2rem;
<<<<<<< HEAD
		font-family: Limelight, Roboto Slab, sans-serif;
		color: #191970;

	}


	.section-menu {
		display: grid;
		margin: 0 auto;
		grid-template-rows: 10rem 10rem;
		grid-template-columns: 17rem 30rem 3rem 25rem auto;
		max-width: 80rem;
		min-width: 79rem;
	}


	.header{
		border-style: solid;
		border-width: 0rem 0rem 1.5rem 0rem;
		margin: 2rem;
		padding: 2rem;
	}


	.container1{
		display: grid;
		grid-template-columns: 30% auto auto 25%;
	    grid-template-rows: 20% 30% 30% 20%;
	}


	.ptitle{
	    font-size: 3rem;
	    grid-column-start: 3;
	    grid-column-end: 5;
	    margin-left: 8rem;
	    margin-top: 2rem;
	    color: #191970;
	    font-family: Limelight, Roboto Slab, sans-serif;



	}

	.pimg {
	    grid-column-start: 1;
	    grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	    margin-top:-8rem;
	    margin-left: 3rem;
	    max-width:800rem;
	    min-width: 3rem;
	    max-width: 100%;
	    min-height:75%;
	    object-fit: cover;
	}

	.ptitulo2{
		grid-column-start:3;
		grid-row-start: 2;
		justify-content: left;
	    margin-left: 8rem;
		margin-top: -2rem;
	    font-size: 2.5rem;
	    font-family: Limelight, Roboto Slab;

	}

	

	.ptexto2{
	    grid-column-start:3;
	    grid-row-start: 2;
		justify-content: center;
		margin-left: 8.5rem;
		margin-top:1.0rem;
		font-size: 1.7rem;
		font-family: 'PT Sans', Merriweather, serif;
		line-height: 1.5rem;




	}

	.ptitulo3{
	    grid-column-start:3;
	    grid-row-start: 3;
		justify-content: center;
	    margin-left: 8rem;
		font-size: 2.5rem;
		margin-top:-10rem;
	    font-family: Limelight, Roboto Slab;
	    color: #191970;


	}

	.ptexto3{
	    grid-column-start:3;
	    grid-row-start: 3;
		justify-content: center;
		margin-left: 8.5rem;
		margin-top:-7rem;
		font-size: 1.7rem;
		font-family: 'PT Sans', Merriweather, serif;
		line-height: 2.0rem;


	}

	.ptexto1{
	    grid-column-start:1;
	    grid-row-start: 3;
	    grid-column-end: 5;
		justify-self: center;
		margin-left: 6rem;
		margin-right: 6rem;
		margin-top:7rem;
		font-size: 1.7rem;
		font-family: 'PT Sans', Merriweather, serif;
		line-height: 2.0rem;



	}

	.ptitulo1{
	    grid-column-start:1;
	    grid-row-start: 3;
		justify-self: left;
		margin-left: 5rem;
		margin-top:3rem;
		font-size: 2.5rem;
	    font-family: Limelight, Roboto Slab;
	    color: #191970;

	}

	.ptitulo4{
	    grid-column-start:1;
	    grid-row-start: 4;
		margin-left: 5rem;
		margin-right: auto;
		margin-top:-3rem;
		font-size: 2.5rem;
		font-family: Limelight, Roboto Slab;
		color: #191970;
		justify-self: center;

	}

	.ptexto4{
	    grid-column-start:1;
	    grid-row-start: 4;
		margin-left: 6rem;
		justify-self: left;
		margin-top:3.5rem;
		margin-bottom: 6rem;
		font-size: 1.7rem;
		font-family: 'PT Sans', Merriweather, serif;
		line-height: 2.0rem;


	}
}
=======
		font-family: Limelight, "Roboto Slab", sans-serif;
		color: #191970;
	}

	.img10 {
		display: flex;
		margin: 0 auto;
		height: 25rem;
		width: 40rem;
	}

	.cabeca {
		margin: 0 auto;
		max-width: 70rem;
		min-width: 70rem;
		padding: 5rem;
	}

	.h11{
		position: relative;

	}

	.ctitle{

	}

	.cimg{

	}

	.ctext{

	}
	.ctitle1{

	}

	.cimg1{

	}

	.ctext1{
		
	}
	.ctitle2{

	}

	.cimg2{

	}

	.ctext2{
		
	}

}
<<<<<<< HEAD

>>>>>>> 995b873212d844d8049650d4cdc08a4e2a0d68a6
